

name: Terraform Azure Deploy

on:
  # push:
 workflow_dispatch:
  
jobs:
  terraform:
    runs-on: self-hosted   # your Linux runner VM
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Azure Login (Service Principal)
      uses: azure/login@v2
      with:
        creds: |
          {
            "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
            "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
            "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}",
            "tenantId": "${{ secrets.AZURE_TENANT_ID }}"
           }

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan

    - name: Terraform Apply
      run: terraform apply -auto-approve
